@font-face {
  font-family: 'HelveticaRegular';
  src: url('/fonts/HelveticaRegular/HelveticaRegular.eot');
  src: url('/fonts/HelveticaRegular/HelveticaRegular.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaRegular/HelveticaRegular.woff') format('woff'), url('/fonts/HelveticaRegular/HelveticaRegular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaBold';
  src: url('/fonts/HelveticaBold/HelveticaBold.eot');
  src: url('/fonts/HelveticaBold/HelveticaBold.eot?#iefix') format('embedded-opentype'), url('/fonts/HelveticaBold/HelveticaBold.woff') format('woff'), url('/fonts/HelveticaBold/HelveticaBold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello/fontello.eot?78912759');
  src: url('/fonts/fontello/fontello.eot?78912759#iefix') format('embedded-opentype'), url('/fonts/fontello/fontello.woff2?78912759') format('woff2'), url('/fonts/fontello/fontello.woff?78912759') format('woff'), url('/fonts/fontello/fontello.ttf?78912759') format('truetype'), url('/fonts/fontello/fontello.svg?78912759#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none;
}
.container {
  width: 958px;
  margin: 0 auto;
}
.header-section {
  display: flex;
  margin-top: 52px;
}
.header-section img {
  align-self: flex-start;
  margin-left: 48px;
}
.header-section-1-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #3b958f;
  font-weight: 700;
  margin: 35px 0 0 -7px;
}
.header-section-2-txt {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #383838;
  font-weight: 400;
  margin: -1px 0 0 -7px;
}
nav {
  flex-grow: 1;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 45px 74px 0 48px;
  padding: 0;
}
nav ul li {
  font-family: 'HelveticaRegular';
  font-size: 12px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.055em;
  color: #383838;
}
nav ul li a {
  transition: 0.3s linear;
}
nav ul li a:hover {
  color: #3bbab5;
}
.bg-head-line {
  position: absolute;
  top: 76px;
  width: 100%;
  height: 78px;
  background-color: #e5e5e5;
  z-index: -100;
}
.general-visible {
  display: none;
}
.general-section {
  display: flex;
}
.general-section-1 {
  position: relative;
}
.general-section-1 img {
  margin-top: 93px;
}
.general-section-1-1 {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #3bb9b5;
  z-index: -10;
  top: 122px;
  left: 14px;
}
.general-section-2 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #8b8b8b;
}
.general-section-2-1-txt-1 {
  font-family: 'HelveticaBold';
  font-size: 80px;
  letter-spacing: 0.01em;
  margin: 71px 0 0 14px;
  padding: 0;
}
.general-section-2-1-txt-2 {
  font-family: 'HelveticaRegular';
  font-size: 40px;
  line-height: 1em;
  word-wrap: normal;
  margin: -1px 0 0 13px;
  white-space: nowrap;
  padding-bottom: 144px;
}
.general-section-2-2 {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #918d8a;
  font-weight: 400;
}
.general-section-2-2-1 a {
  position: relative;
  border: 4px solid #e87b1c;
  padding: 52px 40px;
  margin-left: 14px;
  border-radius: 50%;
  transition: 0.3s;
}
.general-section-2-2-1 a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: 0.3s;
  top: -4px;
  left: -4px;
}
.general-section-2-2-1 a:hover::before {
  border-color: rgba(0, 0, 0, 0.3);
}
.general-section-2-2-1 img {
  position: absolute;
  top: -22px;
  left: -11px;
}
.general-section-2-2-2 a {
  position: relative;
  border: 4px solid #f09b0a;
  padding: 52px 23px;
  margin-left: 20px;
  border-radius: 50%;
  transition: 0.3s;
}
.general-section-2-2-2 a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: 0.3s;
  top: -4px;
  left: -4px;
}
.general-section-2-2-2 a:hover::before {
  border-color: rgba(0, 0, 0, 0.3);
}
.general-section-2-2-2 img {
  position: absolute;
  top: -16px;
  left: -2px;
  width: 56px;
}
.general-section-2-2-3 a {
  position: relative;
  border: 4px solid #f4ca13;
  padding: 52px 31px;
  margin-left: 23px;
  border-radius: 50%;
  transition: 0.3s;
}
.general-section-2-2-3 a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  transition: 0.3s;
  top: -4px;
  left: -4px;
}
.general-section-2-2-3 a:hover::before {
  border-color: rgba(0, 0, 0, 0.3);
}
.general-section-2-2-3 img {
  position: absolute;
  top: -19px;
  left: 1px;
}
.general-section-2-3 {
  font-family: 'HelveticaBold';
  font-weight: 700;
}
.general-section-2-3-1 {
  max-width: 380px;
}
.general-section-2-3-1 p {
  font-size: 25px;
  margin-left: 18px;
  padding-top: 63px;
  line-height: 1.35em;
  letter-spacing: -0.05em;
}
.general-section-2-3-2 p {
  font-size: 27px;
  margin: -29px 18px;
  padding-bottom: 93px;
  line-height: 1.5em;
  color: #e57d22;
  letter-spacing: -0.05em;
}
.section-services {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: "header       header          header" "main-img-1   main-text-1     clients" "main-img-2   main-text-2     clients" "main-img-3   main-text-3     clients" "main-img-4   main-text-4     clients" "main-img-5   main-text-5     clients";
}
.section-services-header {
  grid-area: header;
}
.footer-section {
  display: flex;
  justify-content: start;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #e9e9e9;
  margin: 0 40px 0 60px;
  padding: 0;
  flex-wrap: nowrap;
}
.footer-section-1 {
  display: flex;
  margin-top: 48px;
  min-width: 234px;
}
.footer-section-1-1 {
  position: relative;
}
.footer-section-1-1 img {
  position: absolute;
  top: -4px;
  left: -7px;
}
.footer-section-1-2-txt-1 {
  padding: 0;
  margin: 5px 0 6px 18px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.05em;
}
.footer-section-1-2-txt-2 {
  padding: 0;
  margin: 0 0 13px 18px;
  font-weight: 400;
  line-height: 0.3em;
  letter-spacing: 0.001em;
}
.footer-section-2 {
  display: flex;
  margin-top: 48px;
  min-width: 212px;
}
.footer-section-2-1 {
  position: relative;
}
.footer-section-2-1 img {
  position: absolute;
  top: -3px;
  left: -9px;
}
.footer-section-2-2-txt-1 {
  padding: 0;
  margin: 5px 0 7px 20px;
  font-weight: 700;
  line-height: 1.45em;
  letter-spacing: 0.05em;
}
.footer-section-2-2-txt-2 {
  padding: 0;
  margin: 0 0 13px 20px;
  font-weight: 400;
  line-height: 0.3em;
  letter-spacing: 0.001em;
}
.footer-section-3 {
  display: flex;
  margin-top: 48px;
  min-width: 205px;
}
.footer-section-3-1 {
  position: relative;
  margin-left: 3px;
}
.footer-section-3-1 img {
  position: absolute;
  top: -3px;
  left: -9px;
}
.footer-section-3-2-txt-1 {
  padding: 0;
  margin: 5px 0 7px 10px;
  font-weight: 700;
  line-height: 1.45em;
  letter-spacing: 0.05em;
}
.footer-section-4 {
  display: flex;
  margin-top: 48px;
  min-width: 225px;
}
.footer-section-4-1 {
  position: relative;
}
.footer-section-4-1 img {
  position: absolute;
  top: -3px;
  left: -8px;
}
.footer-section-4-2-txt-2 {
  padding: 0;
  margin: 10px 0 13px 20px;
  font-weight: 400;
  line-height: 0.3em;
  letter-spacing: 0.001em;
}
.footer-bg-line {
  z-index: -100;
  position: absolute;
  height: 193px;
  width: 100%;
  background-color: #3bb9b5;
}
.footer-circle {
  z-index: -10;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #f8c80e;
}
.socium-badge {
  font-family: "fontello";
  font-size: 16px;
  margin: -2px 10px 0 0;
  color: #fff;
}
.socium-badge-wrapper {
  display: flex;
  margin-left: 14px;
  margin-bottom: 1px;
}
