@color-header-bg-line: #e5e5e5;
@color-nav-text: #383838;
@color-nav-text-select: #3bbab5;
@color-header-text: #3b958f;
@color-footer-bg: #3bb9b5;
@color-main-text: #8b8b8b;
@color-footer-text: #e9e9e9;
@width-footer-item: 200px;

@font-face {
    font-family: 'HelveticaRegular';
    src: url('/fonts/HelveticaRegular/HelveticaRegular.eot');
    src: url('/fonts/HelveticaRegular/HelveticaRegular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaRegular/HelveticaRegular.woff') format('woff'),
        url('/fonts/HelveticaRegular/HelveticaRegular.ttf') format('truetype');
    // font-weight: 400;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('/fonts/HelveticaBold/HelveticaBold.eot');
    src: url('/fonts/HelveticaBold/HelveticaBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/HelveticaBold/HelveticaBold.woff') format('woff'),
        url('/fonts/HelveticaBold/HelveticaBold.ttf') format('truetype');
    // font-weight: 700;
    // font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('/fonts/fontello/fontello.eot?78912759');
    src: url('/fonts/fontello/fontello.eot?78912759#iefix') format('embedded-opentype'),
         url('/fonts/fontello/fontello.woff2?78912759') format('woff2'),
         url('/fonts/fontello/fontello.woff?78912759') format('woff'),
         url('/fonts/fontello/fontello.ttf?78912759') format('truetype'),
         url('/fonts/fontello/fontello.svg?78912759#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

.socium-badge{
    font-family: "fontello";
    font-size: 16px;
    margin: -2px 10px 0 0;
    color: #fff;

    &-wrapper{
        display: flex;
        margin-left: 14px;
        margin-bottom: 1px;
    }
}

.bg-head-line {
    position: absolute;
    top: 76px;
    width: 100%;
    height: 78px;
    background-color: @color-header-bg-line;
    z-index: -100;
}

.container {
    width: 958px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    margin: 52px 0 0 0;

    img {
        align-self: flex-start;
        margin: 0 0 0 48px;
    }

    &-1-txt {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: @color-header-text;
        font-weight: 700;
        margin: 35px 0 0 -7px;
    }

    &-2-txt {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: @color-nav-text;
        font-weight: 400;
        margin: -1px 0 0 -7px;
    }
}

nav {
    flex-grow: 1;

    ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        margin: 45px 74px 0 48px;
        padding: 0;

        li {
            font-family: 'HelveticaRegular';
            font-size: 12px;
            line-height: 27px;
            font-weight: 400;
            letter-spacing: 0.055em;
            color: @color-nav-text;
        }
    }
}

.section-main {
    display: flex;

    &-1 {
        position: relative;

        img {
            margin: 96px 0 0 0px;
        }

        &-1 {
            position: absolute;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background: @color-footer-bg;
            z-index: -10;
            top: 125px;
            left: 14px;
        }
    }

    &-2 {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        color: @color-main-text;

        &-1-txt-1 {
            font-family: 'HelveticaBold';
            font-size: 80px;
            letter-spacing: 0.01em;
            margin: 71px 0 0 14px;
            padding: 0;
        }

        &-1-txt-2 {
            font-family: 'HelveticaRegular';
            font-size: 40px;
            line-height: 1.0em;
            word-wrap: normal;
            margin: -1px 0 0 13px;
            padding: 0;
            white-space: nowrap;
        }

        &-2 {
            display: flex;
            position: relative;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            color: #918d8a;
            font-weight: 400;

            &-1 {

                img {
                    position: absolute;
                    top: 71px;
                    left: 7px;
                }

                p {
                    position: absolute;
                    top: 132px;
                    left: 58px;
                }
            }

            &-2 {

                img {
                    position: absolute;
                    top: 77px;
                    left: 167px;
                    width: 56px;
                }

                p {
                    position: absolute;
                    top: 132px;
                    left: 192px;
                }
            }

            &-3 {

                img {
                    position: absolute;
                    top: 74px;
                    left: 323px;
                }

                p {
                    position: absolute;
                    top: 132px;
                    left: 353px;
                }
            }
        }

        &-3 {
            font-family: 'HelveticaBold';
            font-weight: 700;

            &-1 {
                // border: 1px solid red;
                max-width: 380px;

                p {
                    font-size: 25px;
                    margin: 30px 0 0 18px;
                    line-height: 1.35em;
                    letter-spacing: -0.05em;
                }
            }

            &-2 {

                p {
                    font-size: 27px;
                    margin: -3px 0 64px 18px;
                    line-height: 1.5em;
                    color: #e57d22;
                    letter-spacing: -0.07em;
                }
            }
        }
    }
}

.circle {
    margin: 89px 8px 0 14px;
    height: 122px;
    width: 122px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;

    &-1 {
        border-color: #e87b1c;
    }

    &-2 {
        border-color: #f09b0a;
    }

    &-3 {
        border-color: #f4ca13;
    }
}

.footer {

    &-section {
        display: flex;
        justify-content: start;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: @color-footer-text;
        margin: 0 40px 0 60px;
        padding: 0;
        flex-wrap: nowrap;

        &-1 {
            display: flex;
            margin-top: 48px;
            min-width: 234px;

            &-1 {
                position: relative;

                img {
                    position: absolute;
                    top: -4px;
                    left: -7px;
                }
            }

            &-2 {

                &-txt-1 {
                    padding: 0;
                    margin: 5px 0 6px 18px;
                    font-weight: 700;
                    line-height: 1.5em;
                    letter-spacing: 0.05em;
                }

                &-txt-2 {
                    padding: 0;
                    margin: 0 0 13px 18px;
                    font-weight: 400;
                    line-height: 0.3em;
                    letter-spacing: 0.001em;
                }
            }
        }

        &-2 {
            display: flex;
            margin-top: 48px;
            min-width: 212px;

            &-1 {
                position: relative;
                
                img {
                    position: absolute;
                    top: -3px;
                    left: -9px;
                }
            }

            &-2 {

                &-txt-1 {
                    padding: 0;
                    margin: 5px 0 7px 20px;
                    font-weight: 700;
                    line-height: 1.45em;
                    letter-spacing: 0.05em;
                }

                &-txt-2 {
                    padding: 0;
                    margin: 0 0 13px 20px;
                    font-weight: 400;
                    line-height: 0.3em;
                    letter-spacing: 0.001em;
                }
            }
        }

        &-3 {
            display: flex;
            margin-top: 48px;
            min-width: 205px;

            &-1 {
                position: relative;
                margin-left: 3px;

                img {
                    position: absolute;
                    top: -3px;
                    left: -9px;
                }
            }

            &-2 {
                
                &-txt-1 {
                    padding: 0;
                    margin: 5px 0 7px 10px;
                    font-weight: 700;
                    line-height: 1.45em;
                    letter-spacing: 0.05em;
                }
            }
        }

        &-4 {
            display: flex;
            margin-top: 48px;
            min-width: 225px;

            &-1 {
                position: relative;

                img {
                    position: absolute;
                    top: -3px;
                    left: -8px;
                }
            }

            &-2 {

                &-txt-2 {
                    padding: 0;
                    margin: 10px 0 13px 20px;
                    font-weight: 400;
                    line-height: 0.3em;
                    letter-spacing: 0.001em;
                }
            }
        }
    }

    &-bg-line {
        z-index: -100;
        position: absolute;
        height: 193px;
        width: 100%;
        background-color: @color-footer-bg;
    }

    &-circle {
        z-index: -10;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: #f8c80e;
    }
}